
@font-face {
  font-family: raleway-regular;
  src: url(../fonts/raleway-regular.ttf);
  font-size: normal;
}

@font-face {
  font-family: montserrat-light;
  src: url(../fonts/montserrat-light.ttf);
  font-size: normal;
}

.container {
  width: 1920px;
  border: 1px solid red;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  min-height: 1024px;
  padding: 40px 350px 0px 19%;
  box-sizing: border-box;
  /* background-image: url(../img/mountain.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #555556
}

.header-top {
  /* display: flex; */
  border: 1px solid aqua;
}

.logo {
  display: block;
  fill: #fff;
  font-family: raleway-regular;
  font-weight: 400;
  text-decoration: none;
  font-size: 34px;
  border: 1px solid red;
  height: 64px;
  width: 185px;
  float: left;
}

.logo:hover {
  fill: #c7b299;
}

.logo:active {
  fill: #998675;
}

.navigation {
  margin: 0;
  padding: 0 0 0 30%;
  border: 1px solid green;
  height: 64px;
  min-width: 1050px;
}

.list-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-menu-item {
  font-family: montserrat-light;
  font-size: 14px;
  font-weight: 400;
  /* text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3); */
  float: left;
  padding: 22px 15px 22px 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #c7b299;
}

.nav-link:active {
  color: #998675;
}

.menu-btn,
.menu-btn-search {
  float: left;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.menu-btn-search {
  size: 0;
}

.menu-btn:hover,
.menu-btn-search:hover {
  fill: #c7b299;
}
