
.container {
  width: 1920px;
  border: 1px solid red;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  min-height: 1024px;
  padding: 50px;
  box-sizing: border-box;
  /* background-color: #555556 */
  background-image: url(../img/mountain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logos {
  background-image: -moz-linear-gradient( 45deg, rgb(199,178,153) 0%, rgb(90,85,83) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(199,178,153) 0%, rgb(90,85,83) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(199,178,153) 0%, rgb(90,85,83) 100%);
  position: absolute;
  left: 376px;
  top: 52px;
  width: 64px;
  height: 56px;
  z-index: 446;
}

.nav-ul-main {
  list-style: none;
}
