
@font-face {
  font-family: raleway-regular;
  src: url(../fonts/raleway-regular.ttf);
  font-size: normal;
}

.container {
  width: 1920px;
  border: 1px solid red;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  min-height: 1024px;
  padding: 40px 350px 0px 350px;
  box-sizing: border-box;
  /* background-image: url(../img/mountain.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #555556
}

.logo {
  display: block;
  /* font-size: 34px; */
  fill: #fff;
  font-family: raleway-regular;
  text-decoration: none;
  /* border: 1px solid; */
  height: 64px;
  width: 185px;
}

.logo:hover {
  fill: #c7b299;
}

.menu {
  display: block;
  border: 1px solid yellow;
}

/* .logos {
  background-image: -moz-linear-gradient( 45deg, rgb(199,178,153) 0%, rgb(90,85,83) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(199,178,153) 0%, rgb(90,85,83) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(199,178,153) 0%, rgb(90,85,83) 100%);
  position: absolute;
  left: 376px;
  top: 52px;
  width: 64px;
  height: 56px;
  z-index: 446;
} */

.nav-menu {
  border: 1px solid green;
  display: flex;
  flex-wrap: nowrap;
}

.nav-ul-menu {
  display: inline-block;
  list-style: none;
  /* color: #fff; */
  /* font-size: 14px; */
}

.nav-ul-menu-item {
  font-size: 14px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #c7b299;
}
